@font-face {
  font-family: 'Stolzl';
  src: local('../font/Stolzl Regular'), local('Stolzl-Regular'),
  url('../font/Stolzl-Regular.woff2') format('woff2'),
  url('../font/Stolzl-Regular.woff') format('woff'),
  url('../font/Stolzl-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Stolzl';
  src: local('Stolzl Medium'), local('Stolzl-Medium'),
  url('../font/Stolzl-Medium.woff2') format('woff2'),
  url('../font/Stolzl-Medium.woff') format('woff'),
  url('../font/Stolzl-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

.main{
  margin-top: 0px;
}
html{
  font-family: 'Stolzl';
}

body input:focus, body input:not(:placeholder-shown), body textarea:focus, body textarea:not(:placeholder-shown) {
  border: 1px solid #FFC73F;
}

img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

button:focus {
  outline: none;
}

.button {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  font-family: "Stolzl", sans-serif;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  color: #000000;
  background-color: transparent;
  text-transform: uppercase;
  border: 2px solid #FFC73F;
  border-radius: 3px;
  height: 46px;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

.button:hover {
  color: #000000;
  text-decoration: none;
  background-color: #FFC73F;
}
.pagination {
  white-space: nowrap;
  margin-top: 50px;
}

.pagination .pagination-list {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.pagination .pagination-item {
  overflow: hidden;
}

.pagination .pagination-item:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.pagination .pagination-item:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.pagination .page-numbers {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 50px;
  height: 50px;
  color: #000;
  background-color: #ffffff;
  font-family: "RobotoMedium", sans-serif;
  font-size: 15px;
  line-height: 18px;
  text-decoration: none;
}

.pagination .page-numbers:not(.dots):not(.current):hover {
  background-color: #FFEFC7;
  -webkit-transition: background-color .2s ease;
  -o-transition: background-color .2s ease;
  transition: background-color .2s ease;
}

.pagination .page-numbers.current {
  color: #ffffff;
  background-color: #1d1d1b;
}

b {
  font-weight: normal;
  font-family: "Stolzl", sans-serif;
}

p {
  margin-bottom: 1.5em;
}

h1, .h1 {
  color: #ffffff;
  font-family: "Stolzl", sans-serif;
  font-size: 40px;
  line-height: 46px;
  font-weight: normal;
  margin-bottom: 0;
}

h2, .h2 {
  color: #000000;
  font-family: "Stolzl", sans-serif;
  font-size: 24px;
  line-height: 29px;
  font-weight: normal;
  margin-bottom: 0;
}

h3, h4, .h3, .h4 {
  color: #000000;
  font-family: "Stolzl", sans-serif;
  font-size: 22px;
  line-height: 22px;
  font-weight: normal;
  margin-bottom: 0;
}

.section-subtitle {
  text-align: center;
  font-size: 15px;
  line-height: 20px;
  color: #878383;
  margin-top: 15px;
}

.breadcrumbs {
  white-space: nowrap;
  position: relative;
  max-width: 100%;
  overflow-x: auto;
  z-index: 1;
  margin-top: 30px;
}

.breadcrumbs .breadcrumbs-list {
  list-style-type: none;
  margin-bottom: 0;
  padding-left: 0;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.breadcrumbs .breadcrumb-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.breadcrumbs .breadcrumb-item.active .breadcrumb-link {
  color: #c4c4c4;
}

.breadcrumbs .breadcrumb-item:after {
  content: '';
  position: relative;
  width: 17px;
  height: 1px;
  top: 1px;
  background-color: #f4eee0;
  margin: 0 8px 0 6px;
  display: inline-block;
}

.breadcrumbs .breadcrumb-item:last-of-type:after {
  display: none;
}

.breadcrumbs .breadcrumb-link {
  color: #9F9B9B;
  font-size: 13px;
  line-height: 16px;
  display: inline-block;
  text-decoration: none;
  -webkit-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
}

.breadcrumbs .breadcrumb-link:hover {
  color: #FFC73F;
}

.slick-slider .slick-dots {
  list-style-type: none;
  padding-left: 0;
  margin: 35px 0 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.slick-slider .slick-dots li {
  background: none;
  padding: 0;
  position: relative;
}

.slick-slider .slick-dots li:not(:last-of-type) {
  margin-right: 8px;
}

.slick-slider .slick-dots button {
  display: inherit;
  position: relative;
  width: 20px;
  height: 3px;
  font-size: 0;
  line-height: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  background-color: #C4C4C4;
}

.slick-slider .slick-dots button:focus {
  outline: none;
}

.slick-slider .slick-dots .slick-active button {
  background-color: #FFC73F;
}

.slider-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 60px;
}

.slider-nav .slick-arrow {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  z-index: 2;
  font-size: 0;
  padding: 0;
  border: 1px solid #000000;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: background-color .2s ease;
  -o-transition: background-color .2s ease;
  transition: background-color .2s ease;
}

.messengers {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  padding-left: 0;
  margin: 0 -3px;
}

header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed;
  max-width: 1920px;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 0;
  z-index: 3;
  background-color: #ffffff;
  box-shadow: 0px 4px 12px rgba(83, 81, 81, 0.15);
}

header .header-topline {
  width: 100%;
}

header .header-topline-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 25px 0;
}

header .header-logo {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-top: -5px;
}

header .header-logo .logo-link {
  display: inline-block;
}

header .header-contacts {
  justify-content: flex-end;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  list-style-type: none;
  padding-left: 0;
  margin: 0 30px;
  flex: 3.8;
}

header .header-contacts .contact-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 50px;
}

header .header-contacts .contact-item .item-icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  width: 40px;
  height: 40px;
}

header .header-contacts .contact-item .item-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-left: 15px;
  white-space: nowrap;
}

header .header-contacts .contact-item .item-info *:first-child {
  font-family: "Stolzl", sans-serif;
  font-size: 17px;
  line-height: 20px;
  color: #000000;
}

header .header-contacts .contact-item .item-info *:last-child {
  font-size: 14px;
  line-height: 17px;
  color: #a1a1a1;
  margin-top: 4px;
}

header .header-contacts .contact-item .item-link {
  text-decoration: none;
  -webkit-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
}

header .header-contacts .contact-item .item-link:hover {
  color: #FFC73F;
}

header .header-contacts .contact-schedule {
  margin-right: 0;
}

header .header-menu {
  background-color: #f9f9f9;
}

header .header-menu-inner {
  position: relative;
}

header .header-menu .menu-primary {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

header .header-menu .menu-primary .menu-item {
  margin-right: 45px;
}

header .header-menu .menu-primary .menu-item:last-of-type {
  margin-right: 0;
}

header .header-menu .menu-primary .menu-item.active .menu-link, header .header-menu .menu-primary .menu-item.current-menu-item .menu-link, header .header-menu .menu-primary .menu-item.current-page-ancestor .menu-link {
  background-color: #FFC73F;
}

header .header-menu .menu-primary .menu-link {
  display: inline-block;
  background-color: transparent;
  padding: 14px 35px;
  font-family: "Stolzl", sans-serif;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  white-space: nowrap;
  -webkit-transition: background-color .2s ease;
  -o-transition: background-color .2s ease;
  transition: background-color .2s ease;
}

header .header-menu .menu-primary .menu-link:hover {
  background-color: #FFC73F;
}

header .header-menu .menu-services {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 25px 25% 25px 35px;
  margin-bottom: 0;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #FFC73F;
  z-index: 3;
}

header .header-menu .menu-services .menu-item {
  line-height: 19px;
  margin: 8px 35px 8px 0;
}

header .header-menu .menu-services .menu-link {
  display: inline-block;
  text-decoration: none;
  white-space: nowrap;
  color: #535151;
  -webkit-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
}

header .header-menu .menu-services .menu-link:hover {
  color: #ffffff;
}

header .header-mobile-menu {
  display: none;
}

.page-wrapper {
}

.page-wrapper.allserv-page .services-main {
  margin-top: 50px;
}

.page-wrapper.allserv-page .services-main .services-top {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.page-wrapper.allserv-page .services-main .services-title br {
  display: none;
}

.page-wrapper.allserv-page .advantages {
  margin-top: 0;
}

.page-wrapper.allserv-page .scheme {
  margin-top: 30px;
}

.page-wrapper.allserv-page .instagram {
  margin-top: 50px;
}

.page-wrapper.auto-page .advantages {
  margin-top: 0;
}

.page-wrapper.auto-page .price .price-consultation .consultation-info {
  margin: 70px 0 0 20px;
}

.page-wrapper.contacts-page {
  border-bottom: 1px solid #EEEAEA;
}

.page-top .page-top-advantages {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.page-top .page-top-advantages .advantage-item {
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}

.page-top .page-top-advantages .advantage-item:before {
  content: '';
  display: inline-block;
  width: 26px;
  height: 19px;
  background: url(../icon/checkmark.svg) 50% 50% no-repeat;
  background-size: contain;
}

.page-top-home {
  vertical-align: middle;
  min-height: 520px;
  position: relative;
}

.page-top-home video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  z-index: -1;
}

@supports (-ms-ime-align: auto) {
  .page-top-home {
    overflow: hidden;
  }
  .page-top-home video {
    height: auto;
  }
}

.page-top-home .page-top-advantages {
  margin: 55px -15px 0;
}

.page-top-home .page-top-advantages .advantage-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  width: calc(25% - 30px);
  margin: 0 15px;
  padding: 25px;
  border: 3px solid #FFC73F;
}

.page-top-home .page-top-advantages .advantage-item:before {
  margin-bottom: 18px;
}


.price {
  margin-top: 45px;
}

.price .price-main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  padding-right: 100px;
}

.price .price-info {
  margin-top: 15px;
  font-size: 15px;
  line-height: 20px;
  color: #878383;
}

.price .price-list {
  list-style-type: none;
  padding-left: 0;
  margin: 15px 0 auto;
}

.price .price-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 18px;
  line-height: 22px;
  padding: 10px 0;
  border-top: 1px solid #DAD6D6;
}

.price .price-item:last-of-type {
  border-bottom: 1px solid #DAD6D6;
}

.price .price-item .item-name {
  color: #686161;
}

.price .price-item .item-value {
  font-family: "Stolzl", sans-serif;
  margin-left: 60px;
  white-space: nowrap;
}

.price .price-item-subtitle {
  padding-top: 30px;
}

.price .price-item-subtitle:first-of-type {
  border: none;
  padding-top: 10px;
}

.price .price-item-subtitle .item-name {
  font-family: "Stolzl", sans-serif;
  color: #000000;
}

.price .price-dispatcher {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: #fffeea;
  margin-top: 30px;
  border-radius: 5px;
  overflow: hidden;
}

.price .price-dispatcher .dispatcher-img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 17%;
}

.price .price-dispatcher .dispatcher-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.price .price-dispatcher .dispatcher-info {
  padding: 20px 30px 20px 45px;
  width: 83%;
}

.price .price-dispatcher .dispatcher-title {
  font-family: "Stolzl", sans-serif;
  font-size: 16px;
  line-height: 19px;
}

.price .price-dispatcher .dispatcher-descr {
  font-size: 15px;
  line-height: 20px;
  color: #6a6a62;
  margin-top: 12px;
}

.price .price-consultation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  height: 100%;
}

.price .price-consultation .consultation-info {
  margin: 35px 0 0 40px;
}

.price .price-consultation .consultation-call {
  font-size: 15px;
  line-height: 20px;
  color: #878383;
}

.price .price-consultation .consultation-phone {
  margin-top: 25px;
  white-space: nowrap;
}

.price .price-consultation .consultation-phone .phone-link {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: "Stolzl", sans-serif;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  text-decoration: none;
  -webkit-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
}

.price .price-consultation .consultation-phone .phone-link:hover {
  color: #FFC73F;
}

.price .price-consultation .consultation-phone .phone-link:before {
  content: '';
  display: inline-block;
  width: 26px;
  height: 26px;
  background-size: contain;
  margin-right: 5px;
}

.price-internal .price-title {
  color: #000000;
}

.price-internal .price-group {
  margin-top: 50px;
}


.scheme {
  background-color: #F1EFE5;
  margin-top: 45px;
  padding: 50px 0;
}

.scheme .scheme-title {
  text-align: center;
}

.scheme .scheme-steps {
  list-style-type: none;
  padding-left: 0;
  margin: 60px -15px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.scheme .scheme-steps:before {
  content: '';
  display: block;
  position: absolute;
  width: 75%;
  height: 1px;
  top: 21px;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: #e0d7d7;
}

.scheme .scheme-steps .step-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  width: 25%;
  padding: 0 15px;
  position: relative;
}

.scheme .scheme-steps .step-item:nth-of-type(3) .item-icon {
  padding-right: 7px;
}

.scheme .scheme-steps .step-item .item-number {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: "Stolzl", sans-serif;
  font-size: 20px;
  line-height: 24px;
  width: 42px;
  height: 42px;
  border-radius: 50px;
  background-color: #FFC73F;
}

.scheme .scheme-steps .step-item .item-icon {
  width: 80px;
  height: 80px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 10px;
  margin-top: 32px;
  -webkit-box-shadow: 0px 8px 10px #D5D4D3;
  box-shadow: 0px 8px 10px #D5D4D3;
}

.scheme .scheme-steps .step-item .item-icon img {
  width: 55px;
  height: 55px;
  -o-object-fit: scale-down;
  object-fit: scale-down;
}

.scheme .scheme-steps .step-item .item-info {
  margin-top: 28px;
  line-height: 21px;
}

.scheme .scheme-steps .step-item .item-info span, .scheme .scheme-steps .step-item .item-info a {
  display: block;
  white-space: nowrap;
  font-family: "Stolzl", sans-serif;
}

.scheme .scheme-steps .step-item .item-info a {
  color: #000000;
  text-decoration: none;
  -webkit-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
}

.scheme .scheme-steps .step-item .item-info a:hover {
  color: #FFC73F;
}

.seo-block-home {
  margin-top: 40px;
}

.seo-block-home .seo-text {
  margin-top: 10px;
}

.seo-block-home .seo-img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  max-height: 290px;
  height: 100%;
}

.seo-block-home .seo-slider:not(.slick-initialized) .seo-item:not(:first-of-type) {
  display: none;
}

.seo-block-internal {
  margin-top: 65px;
}

.seo-block-internal .seo-text {
  position: relative;
  overflow: hidden;
  -webkit-transition: height .35s ease;
  -o-transition: height .35s ease;
  transition: height .35s ease;
}

.seo-block-internal .seo-text:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0;
  z-index: 2;
  pointer-events: none;
  -webkit-transition: height .35s ease;
  -o-transition: height .35s ease;
  transition: height .35s ease;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(white));
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 100%);
}

.seo-block-internal .seo-text.hidden {
  height: 330px;
}

.seo-block-internal .seo-text.hidden:before {
  height: 100px;
}

.seo-block-internal .seo-readmore {
  text-align: center;
  margin: 15px 0 75px;
}

.text-block > *:first-child {
  margin-top: 0;
}

.text-block > *:last-child {
  margin-bottom: 0;
}

.text-block h1, .text-block h2, .text-block h3, .text-block h4 {
  color: #000000;
  margin-top: 40px;
  margin-bottom: 15px;
}

.text-block a {
  text-decoration: none;
  color: #1c8bc2;
  -webkit-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
}

.text-block a:hover {
  color: #005d8b;
}

.text-block ul {
  list-style-type: none;
}

.text-block ul li {
  position: relative;
}

.text-block ul li:before {
  content: '';
  position: absolute;
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: #FFC73F;
  top: .55em;
  left: -17px;
}

.text-block ul, .text-block ol {
  margin: 1.5em 0;
  padding-left: 65px;
}

.text-block li {
  margin-bottom: .8em;
  position: relative;
  color: #777676;
}

.text-block li:last-of-type {
  margin-bottom: 0;
}

.text-block img {
  margin: 12px 0 !important;
}

.regions {
  margin-top: 45px;
}

.regions .regions-title {
  text-align: center;
}

.regions .regions-wrapper {
  margin-top: 30px;
}

.regions .regions-map {
  height: 100%;
}

.regions .regions-map ymaps[class*="copyright"] {
  display: none !important;
}

.regions .regions-map ymaps[class*="placemark-overlay"] ymaps[class*="image"] {
  background-repeat: no-repeat;
  background-size: contain;
}



.regions .regions-consultation {
  background-color: #FFC73F;
  padding: 45px 50px 50px;
}

.regions .regions-consultation .consultation-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.regions .regions-consultation .consultation-img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 80px;
  height: 80px;
  border-radius: 100px;
  overflow: hidden;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.regions .regions-consultation .consultation-title {
  font-family: "Stolzl", sans-serif;
  font-size: 18px;
  line-height: 22px;
  margin-left: 20px;
}

.regions .regions-consultation .consultation-info {
  font-size: 15px;
  line-height: 20px;
  margin-top: 25px;
}

.regions .regions-consultation .consultation-phone {
  margin-top: 25px;
  font-family: "Stolzl", sans-serif;
  white-space: nowrap;
}

.regions .regions-consultation .consultation-phone .phone-title {
  color: #ffebba;
  font-size: 15px;
  line-height: 20px;
}

.regions .regions-consultation .consultation-phone .phone-link {
  display: inline-block;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  text-decoration: none;
  margin-top: 15px;
  -webkit-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
}

.regions .regions-consultation .consultation-phone .phone-link:hover {
  color: #ffebba;
}

.regions .regions-showall {
  text-align: center;
  margin-top: 40px;
}

.regions .regions-showall .showall-btn {
  max-width: 315px;
  width: 100%;
}

.law {
  margin-top: 50px;
}

.law .law-title {
  text-align: center;
}

.law .law-documents {
  margin-top: 45px;
}

.law .law-documents .documents-group .group-title {
  font-family: "Stolzl", sans-serif;
  font-size: 14px;
  line-height: 22px;
  text-transform: uppercase;
  color: #535151;
}

.law .law-documents .documents-group .group-list {
  list-style-type: none;
  padding-left: 0;
  margin: 28px 0 0;
}

.law .law-documents .documents-group .group-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 32px;
}

.law .law-documents .documents-group .group-item img {
  width: 40px;
  height: 56px;
  -o-object-fit: scale-down;
  object-fit: scale-down;
  margin-right: 30px;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.law .law-documents .documents-group .group-item span {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  line-height: 22px;
  color: #535151;
  position: relative;
  margin-left: -40px;
}


.locked {
  background-color: #1d1d1b;
  padding: 30px 0;
  margin-top: 15px;
}

.locked .locked-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.locked .locked-title {
  color: #FFC73F;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 95px;
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}


.locked .locked-info {
  font-size: 14px;
  line-height: 18px;
  color: #bab4b4;
  margin: 0 30px;
  -webkit-box-flex: 1.8;
  -webkit-flex: 1.8;
  -ms-flex: 1.8;
  flex: 1.8;
}

.locked .locked-phone {
  font-family: "Stolzl", sans-serif;
  white-space: nowrap;
}

.locked .locked-phone .phone-title {
  color: #FFC73F;
  font-size: 14px;
  line-height: 19px;
}

.locked .locked-phone .phone-link {
  display: inline-block;
  color: #ffffff;
  font-size: 20px;
  line-height: 24px;
  margin-top: 3px;
  text-decoration: none;
  -webkit-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
}

.locked .locked-phone .phone-link:hover {
  color: #FFC73F;
}


.brands {
  margin-top: 60px;
}

.brands .brands-title {
  text-align: center;
}

.brands .brands-wrapper {
  margin-top: 30px;
}

.brands .brands-group {
  border: 1px solid #EAE5E5;
}

.brands .brands-group .group-title {
  text-align: center;
  font-family: "Stolzl", sans-serif;
  line-height: 19px;
  margin-top: 20px;
}

.brands .brands-group .group-img {
  margin: 25px 0;
}

.types {
  margin-top: 60px;
}

.types .types-title {
  text-align: center;
}

.types .types-wrapper {
  margin-top: 30px;
}

.types .types-list {
  list-style-type: none;
  padding-left: 0;
  margin: 10px 0 0;
  -webkit-columns: 3;
  -moz-columns: 3;
  columns: 3;
  -webkit-column-gap: 45px;
  -moz-column-gap: 45px;
  column-gap: 45px;
}

.types .type-name {
  display: inline-block;
  width: 100%;
  position: relative;
  padding-left: 25px;
  margin-bottom: 10px;
  font-family: "Stolzl", sans-serif;
  line-height: 21px;
}


.advantages {
  background-color: #535151;
  margin-top: 50px;
  padding: 55px 0;
}

.advantages .advantages-wrapper {
  margin-top: 60px;
}

.advantages .advantages-wrapper [class*="col-"]:nth-of-type(5) .item-icon {
  padding-right: 5px;
}

.advantages .advantages-title {
  text-align: center;
  color: #ffffff;
}

.advantages .advantage-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  margin-bottom: 40px;
}

.advantages .advantage-item .item-icon {
  width: 64px;
  height: 64px;
  border-radius: 100px;
  background-color: #454242;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.advantages .advantage-item .item-icon img {
  width: 36px;
  height: 36px;
  -o-object-fit: scale-down;
  object-fit: scale-down;
}

.advantages .advantage-item .item-title {
  color: #ffffff;
  font-family: Tahoma, sans-serif;
  line-height: 21px;
  margin-top: 17px;
}

.advantages .advantage-item .item-info {
  color: #c0bfbf;
  font-size: 15px;
  line-height: 20px;
  margin-top: 12px;
}

.advantages .advantages-phone {
  text-align: center;
  font-family: "Stolzl", sans-serif;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
  margin-top: 10px;
}

.advantages .advantages-phone .phone-link {
  color: #FFC73F;
  text-decoration: none;
  -webkit-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
}

.advantages .advantages-phone .phone-link:hover {
  color: #ffffff;
}

.instagram {
  margin-top: 60px;
}

.instagram .instagram-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  position: relative;
}


.reviews {
  background-color: #f3f3f3;
  padding: 60px 0;
}

.reviews .reviews-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.reviews .reviews-slider {
  overflow: hidden;
  margin-top: 40px;
}

.reviews .reviews-slider:not(.slick-initialized) {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: -15px;
  margin-right: -15px;
}

.reviews .reviews-slider:not(.slick-initialized) .review-item {
  width: calc(100%/3 - 30px);
  margin: 0 15px;
}

.reviews .reviews-slider:not(.slick-initialized) .review-item:nth-child(n+4) {
  display: none;
}

.reviews .reviews-slider .slick-list {
  margin: 0 -15px;
}

.reviews .reviews-slider .slick-track {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.reviews .reviews-slider .slick-arrow {
  display: none !important;
}

.reviews .review-item {
  margin: 0 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: auto;
}

.reviews .review-item .item-comment {
  position: relative;
  padding: 30px 30px 45px 30px;
  background-color: #ffffff;
  border-radius: 5px;
  line-height: 24px;
  color: #6d6868;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

footer {
  margin-top: 50px;
  background: #ececec;
  padding: 20px 0 20px;
}

footer .footer-top-inner,
footer .footer-middle-inner,
footer .footer-bottom-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

footer .footer-bottom {
  border-top: 1px solid #EDEDE2;
}

footer .footer-middle {
}

footer .footer-logo {
  margin-top: -5px;
}

footer .footer-logo .logo-link {
  display: inline-block;
}

footer .footer-menu .menu-list {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
}

footer .footer-menu .menu-link {
  margin-left: 70px;
}

footer .footer-menu .menu-link {
  display: inline-block;
  font-family: "Stolzl", sans-serif;
  font-size: 15px;
  line-height: 18px;
  color: #c4c4c4;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
}

footer .footer-menu .menu-link:hover {
  color: #FFC73F;
}

footer .footer-schedule {
  font-size: 14px;
  line-height: 17px;
  color: #a1a1a1;
  margin-right: 30px;
}

footer .footer-messengers {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

footer .footer-socials {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 30px;
  -webkit-box-flex: 2.55;
  -webkit-flex: 2.55;
  -ms-flex: 2.55;
  flex: 2.55;
}

footer .footer-socials .socials-title {
  font-size: 14px;
  line-height: 17px;
  color: #A1A1A1;
}

footer .footer-socials .socials-list {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

footer .footer-socials .socials-list .social-item {
  margin-left: 10px;
}

footer .footer-socials .socials-list .social-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 20px;
  height: 20px;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

footer .footer-socials .socials-list .social-link:before, footer .footer-socials .socials-list .social-link:after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transition: opacity .2s ease;
  -o-transition: opacity .2s ease;
  transition: opacity .2s ease;
}

footer .footer-socials .socials-list .social-link:before {
  opacity: 1;
}

footer .footer-socials .socials-list .social-link:after {
  opacity: 0;
}

footer .footer-socials .socials-list .social-link:hover:before {
  opacity: 0;
}

footer .footer-socials .socials-list .social-link:hover:after {
  opacity: 1;
}


footer .footer-phone .phone-link {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: "Stolzl", sans-serif;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  text-decoration: none;
  -webkit-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
}

footer .footer-phone .phone-link:hover {
  color: #FFC73F;
}

footer .footer-phone .phone-link:before {
  content: '';
  display: inline-block;
  width: 26px;
  height: 26px;
  background: url(../img/icons/phone3.svg) 50% 50% no-repeat;
  background-size: contain;
  margin-right: 5px;
}

footer .footer-copyright {
  font-size: 11px;
  line-height: 15px;
  color: #c4c4c4;
  max-width: 555px;
  margin-right: 60px;
}

footer .footer-developer {
  font-family: "Stolzl", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #535151;
  white-space: nowrap;
}

footer .footer-developer a {
  display: inline-block;
  color: #FFC73F;
  text-decoration: none;
  -webkit-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
}

footer .footer-developer a:hover {
  color: #d8a62e;
}

.advices .advices-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  margin: 30px -15px -20px;
}

.advices .advice-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: calc(25% - 30px);
  margin: 0 15px 60px;
}

.advices .advice-item .item-photo {
  display: block;
  width: 100%;
  padding-top: 64%;
  position: relative;
  overflow: hidden;
}

.advices .advice-item .item-photo img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transition: -webkit-transform .2s ease;
  transition: -webkit-transform .2s ease;
  -o-transition: transform .2s ease;
  transition: transform .2s ease;
  transition: transform .2s ease, -webkit-transform .2s ease;
}

.advices .advice-item .item-photo img:hover {
  -webkit-transform: scale(1.15);
  -ms-transform: scale(1.15);
  transform: scale(1.15);
}

.advices .advice-item .item-title {
  font-family: "Stolzl", sans-serif;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  margin: 15px 0 auto;
  text-decoration: none;
  -webkit-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-height: 66px;
  overflow: hidden;
}

.advices .advice-item .item-title:hover {
  color: #005D8B;
}

.advices .advice-item .item-info {
  font-size: 14px;
  line-height: 22px;
  color: #535151;
  margin-top: 15px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  max-height: 87px;
  overflow: hidden;
}

.advices .advices-pagination {
  margin-top: 20px;
}

.advices .advices-pagination .page-numbers:not(.current) {
  background-color: rgba(0, 0, 0, 0.05);
}

.consultation-internal {
  border: 1px solid #EEEAEA;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  padding: 25px 20px;
  max-width: 265px;
  margin: 20px 0 0 auto;
}

.consultation-internal .consultation-img {
  width: 85px;
  height: 85px;
  border-radius: 5px;
  overflow: hidden;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.consultation-internal .consultation-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.consultation-internal .consultation-call {
  font-size: 15px;
  line-height: 20px;
  color: #878383;
  margin-top: 15px;
}

.consultation-internal .consultation-phone {
  margin-top: 25px;
  white-space: nowrap;
}

.consultation-internal .consultation-phone .phone-link {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: "Stolzl", sans-serif;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  text-decoration: none;
  -webkit-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
}

.consultation-internal .consultation-phone .phone-link:hover {
  color: #FFC73F;
}

.contacts {
  position: relative;
  overflow: hidden;
}

.contacts .contacts-title {
  color: #000000;
}

.contacts .contacts-left {
  margin-top: 30px;
  min-height: 550px;
}

.contacts .contacts-list {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}

.contacts .contact-item {
  margin-top: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.contacts .contact-item:first-of-type {
  margin-top: 30px;
}

.contacts .contact-item .item-name,
.contacts .contact-item .item-info {
  display: block;
  font-size: 14px;
  line-height: 17px;
}

.contacts .contact-item .item-link {
  display: inline-block;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  white-space: nowrap;
}

.contacts .contact-item .item-name {
  margin-bottom: 8px;
}

.contacts .contact-item .item-info {
  color: #9f9b9b;
}

.contacts .contact-phone .item-link {
  font-family: "Stolzl", sans-serif;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  -webkit-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
}

.contacts .contact-phone .item-link:hover {
  color: #1c8bc2;
}

.contacts .contact-email .item-link {
  color: #1c8bc2;
}

.contacts .contact-email .item-link:hover {
  color: #005d8b;
}

.contacts .contact-requisites .item-info {
  font-size: 13px;
  line-height: 16px;
}

.contacts .contacts-right {
  position: absolute;
  width: calc(50% + 180px);
  top: 50px;
  right: 0;
  height: 100%;
}

.font-stat{
  font-family: "Stolzl", sans-serif !important;
}

.bg{
  width: 100%; /* Ширина изображений */
  height: 100%; /* Высота изображении */
  object-fit: cover; /* Вписываем фотографию в область */
  position: absolute;
}
body.cke_editable{
  margin: 0px;
  padding: 0px;
}
